<form method="post" action="/create-student">
  <label for="first-name-field">First Name:</label>
  <input
  type="text"
  name="first_name"
  id="first-name-field"
  />

  <label for="second-name-field">Second Name:</label>
  <input
  type="text"
  name="second_name"
  id="second-name-field"
  />

  <label for="house-selection">Select your house, young wizard!</label>
  <select name="house" id="house">
    <% @houses.each do |house| %>
      <option value= <%= house.id %>><%= house.name %></option>
    <% end %>
  </select>

  <label for="age">Age:</label>
  <input
  type="number"
  name="age"
  id="age"
  />

  <input type="submit" value="Create student">
</form>
